.main-template {
  width: 100%;
  height: auto;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  border-radius: 4px;
  //overflow: hidden;
  text-align: center;
  margin-bottom: 5rem;
}

.app-title {
  display: inline-block;
  //background: #fff0f5;
  color: black;
  height: 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 5px;
}

.heart {
  color: #E74C3C;
  margin: 0 0.5rem;
  .list {
    margin: 0 0.5rem 0 1rem;
  }
}

.d-day-title {
  display: inline-block;
  background: #FDEDEC;
  height: auto;
  font-size: 1rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.d-day-content {
  display: block;
  margin: 0 10px 0 10px;
}
.normal-content {
  background: #f3faff;
  display: block;
  margin: 0 10px 0 10px;
  padding: 0.5rem 0 0.5rem 0;
}
.person-img {
  height: 80px;
  width: 80px;
  margin: 5px 30px;
  border-radius: 100%;
  object-fit: cover;
}

.default-background {
  background: #f3faff;
}

.calendar {
  z-index: -1;
  position: relative;
}

$nav-links: about, products, media, contact us;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  height: auto;
  width: 100%;
}

body {
  background: #404040;
  display: table;
}

a {
  text-decoration: none;
  text-decoration-line: none !important;
}

// Mobile mockup design
.mobile-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  .mobile-container {
    background: #fff;
    border: 20px solid #666;
    border-bottom-width: 80px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
    display: inline-block;
    height: 520px;
    margin: 0 30px;
    position: relative;
    width: 320px;
    &::before {
      background: #555;
      border: 2px solid #4a4a4a;
      border-radius: 50%;
      bottom: -67px;
      content: '';
      display: block;
      height: 50px;
      left: 50%;
      position: absolute;
      width: 50px;
      transform: translateX(-50%);
      //z-index: 1;
    }
  }
}

// Inner mobile canvas
.content {
  display: block;
  height: auto;
  //overflow: hidden;
  width: 100%;
  nav {
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 55px;
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
  }
  .setting-icon {
    position: absolute;
    top: 20%;
    right: 0.5rem;
    text-align: right;
  }
  .nav-links {
    display: block;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    list-style-type: none;
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
    z-index: 2;
    // Dark overlay on open nav
    &::before {
      background: rgba(0, 0, 0, .5);
      content: '';
      height: 100vh;
      left: 0;
      top: 0;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      transition: all .3s;
    }
    li {
      background: white;
      border-bottom: 1px solid #ddd;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: all .3s;
      a {
        background: #fff;
        color: #404040;
        display: block;
        font-size: 1rem;
        font-weight: 700;
        padding: 12px 5px;
        text-align: left;
        width: 100%;
        transition: all .3s;
        &:hover {
          color: #E74C3C;
        }
      }
    }
  }
}

// Hidden checkbox to triger mobile nav
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  // Nav open styling - achieved with ':checked' selector
  &:checked + label {
    border: 4px solid silver;
    border-radius: 50%;
    height: 28px;
    top: 16px;
    left: 0.5rem;
    width: 28px;
    transform: rotate(-135deg);
    &::before {
      background: silver;
      top: 8px;
      left: 4px;
      width: 12px;
    }
    &::after {
      background: silver;
      opacity: 1;
      top: 8px;
      left: 4px;
      visibility: visible;
      width: 12px;
    }
    &:hover {
      border-color: #E74C3C;
      &::before,
      &::after {
        background: #E74C3C;
      }
    }
  }
  &:checked ~ .nav-links {
    &::before {
      opacity: 1;
      visibility: visible;
    }
    li {
      opacity: 1;
      background: white;
      visibility: visible;
      transform: translateY(0);

      @for $i from 1 through length($nav-links) {
        &:nth-child(#{$i}) {
          transition-delay: ($i - 1)/10+s;
        }
      }
    }
  }
}

// Styling of the linked label element
label {
  background: none transparent;
  border: 4px solid #E74C3C;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 18px;
  left: 0.5rem;
  width: 24px;
  transition: all .2s;
  &::before {
    background: #E74C3C;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 24px;
    transition: all .2s;
  }
  &::after {
    background: #E74C3C;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: rotate(90deg);
    transition: all .2s;
  }
}