.MainTemplate {
  width: 100%;
  margin-top: 2rem;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}

.app-title {
  display: inline-block;
  background: #fff0f5;
  color: black;
  height: 3rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.d-day-title {
  display: inline-block;
  background: lightskyblue;
  height: auto;
  font-size: 1.5rem;
  display: flex;
  border-radius: 10px;
  margin-bottom:10px;
}
.d-day-content {
  display: block;
  margin:auto;
}
//
//.person-img {
//  height: 10
//}

.content {
  background: white;
}